* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.font {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
}

.right-section ul {
    list-style: none;
    display: flex;
}

.right-section {
    display: flex;
    align-items: center;
}

.road-assistance {
    display:flex
}

.right-section ul li {
    margin-right: 25px;
}

.right-section ul li a {
    text-decoration: none;
    color: black;
}

.right-section .navigation {
    border-right: 2px solid black;
}

.road-assistance .icon {
    margin-left: 20px;
}

.road-assistance-actual {
    margin-left: 12px;
}

.flex {
    display: flex;
}

#hero-section .text-section, #hero-section .image-section  {
width: 50%;
}

#hero-section .image-section  {
background: url(../img/Header\ Image.png);
background-size: cover;
background-position: center;
height: 70vh;
}

#hero-section, #quote-section {
    padding: 50px 0;
}

.text-section h1 {
    font-size: 64px;
}

.orange-btn {
    background: #ff6433;
    padding: 16px 40px;
    color: #ffffff;
    border-radius: 12px;
    border: 0px;
    margin-top: 35px;
    display: inline-block;
    text-decoration: none;
}
.orange-btn a {
    text-decoration: none;
    color: #ffffff;
}

.time-section {
    margin-top: 70px;
}

.text-section .image-box {
    width: 10%;
    display: flex;
}

.text-section .text-box {
    width: 80%;
}

#quote-section { 
    background-color: #E2E6E9;
}

#quote-section .right-form-section, #quote-section .left-section { 
    width: 45%;
}

#quote-section ul {
    list-style: none;
}

#quote-section ul li {
    margin-bottom: 20px;
}

#quote-section .left-section h2 {
    margin-bottom: 30px;
    font-size: 54px;
}

#quote-section .left-section .image-box {
    width: 5%;
}

#quote-section .left-section .image-box img {
    width: 100%;
}

#quote-section .left-section .text-box {
    width: 70%;
    margin-left: 10px;
}

#quote-section .left-section .text-box h5 {
    font-size: 24px;
    margin-bottom: 5px;
}

#quote-section .left-section .text-box p {
    font-size: 16px;
}

#quote-section .right-form-section h3 {
font-size: 48px;
}

#quote-section .right-form-section input {
    width:100%;
    margin-bottom: 5px;
    padding: 15px;
}